name: Self-hosted runner test

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Update files on runner
        shell: cmd
        run: |
          setlocal enabledelayedexpansion
          set "deployPath=C:\actions-runner\_work\self-hosted-runner-test\self-hosted-runner-test"
          if not exist "!deployPath!" mkdir "!deployPath!"
          xcopy "${{ github.workspace }}\*" "!deployPath!" /E /Y /I
          echo Files updated at !deployPath!
          dir "!deployPath!" /S

      - name: Echo using CMD
        shell: cmd
        run: echo Running on self-hosted Windows runner
